<div class="container">
  <div id="headerWrap">
    <h1>Burger Maker <span class="badge"><img src="/assets/media/burger.png"></span></h1>
    
  </div>
  
  <div class="row">
    <div class="col-md-6">
      {{!-- List for created burgers --}}
      <div id="burgers">
        <h2>Created Burgers</h2>
        <ul>
          {{#each data.notEaten.noteatenburgers}}
            <li>
              <p>
                <button data-burgerid="{{this.id}}" class="eatburger" class="burger">Eat It!</button>
                {{this.burger}}
              </p>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-md-6">
        {{!-- List for eaten burgers --}}
        <h2>Eaten Burgers</h1>
        <ul id="eaten">
          {{#each data.eaten.eatenburgers}}
            <li>
              <p>
                {{this.burger}}
              </p>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Make a Burger</h2>
      <form class="create-form">
        <div class="form-group">
          <label for="burger">Burger:</label>
          <input type="text" id="burger" name="name">
          <button class="btn btn-light" id="make" type="submit">Make Burger</button>
        </div>
        <p id="meter-text">Readiness Meter</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
          </div>
      </form>
    </div>
  </div>
</div>

