<h1>Burger-Maker</h1>

<ul>
  {{#each burgers}}
    <li>
      <p>
        {{this.burger}}
        <button data-burgerid="{{this.id}}" class="delburger">Eat It!</button>
      </p>
    </li>
  {{/each}}
</ul>

<h2>Make a Burger</h2>
<form id="addburger" class="button-size">
	<textarea type="text" name="burger"></textarea>
	<button type="submit">Make Burger!</button>
</form>

<script type="text/javascript">
{{!-- Deletes a burger --}}
  $(".delburger").on("click", function(event) {
    var id = $(this).data("burgerid");
    $.ajax("/api/burgers/" + id, {
      type: "DELETE"
    }).then(
      function() {
        console.log("deleted id ", id);
        // Reload the page to update the list
        location.reload();
      }
    );
  });
{{!-- Adds a burger --}}
  $("#addburger").on("submit", function(event) {
    event.preventDefault();
    var newBurger = {
        burger: $("#addburger [name=burger]").val().trim()
    };
    $.ajax("/api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("added new burger");
        // Reload the page to update the list
        location.reload();
      }
    );
  });
</script>
