<h1>Burger-Maker</h1>

{{!-- List for created burgers --}}
<ul id="burgers">
  {{#each burgers}}
    <li>
      <p>
        {{this.burger}}
        <button data-burgerid="{{this.id}}" class="burger">Eat It!</button>
      </p>
    </li>
  {{/each}}
</ul>

{{!-- List for eaten burgers --}}
<ul id="eaten">
  {{#each eaten}}
    <li>
      <p>
        {{this.eatenBurger}}
      </p>
    </li>
  {{/each}}
</ul>

{{!-- <h2>Eat a Burger</h2>
<form id="eatburger" class="button-size">
	<textarea type="text" name="eatburger"></textarea>
	<button type="submit">Eat It!</button>
</form> --}}

<h2>Make a Burger</h2>
<form class="create-form">
  <div class="form-group">
    <label for="burger">Burger:</label>
    <input type="text" id="burger" name="name">
  </div>
  <button id="make" type="submit">Make Burger</button>
</form>