<h1>Burger-Maker</h1>

{{!-- List for created burgers --}}
<ul id="burgers">
  {{#each data.notEaten.noteatenburgers}}
    <li>
      <p>
        {{this.burger}}
        <button data-burgerid="{{this.id}}" class="eatburger" class="burger">Eat It!</button>
      </p>
    </li>
  {{/each}}
</ul>

{{!-- List for eaten burgers --}}
<h1>Eaten Burgers</h1>
<ul id="eaten">
  {{#each data.eaten.eatenburgers}}
    <li>
      <p>
        {{this.burger}}
      </p>
    </li>
  {{/each}}
</ul>

<h2>Make a Burger</h2>
<form class="create-form">
  <div class="form-group">
    <label for="burger">Burger:</label>
    <input type="text" id="burger" name="name">
  </div>
  <button id="make" type="submit">Make Burger</button>
  <div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
</div>
</form>