body {
    background-color: #FFA500
}
h1 {
    text-align: center;
    padding-top: 1vw;
}
h3 {
    margin-left: 42%;
    margin-right: 42%;
    text-align: center;
}
img {
    height: 6rem;
    width: 6rem;
}
.create-form {
    text-align: center;
}
.progress {
    width: 50%;
    margin-left: 25%;
    margin-top: 0.75vw;
}
#meter-text {
    margin-top: 1vw;
}
#burgers {
    float: right;
    padding-right: 1vw;
}